*{
    margin:0;
    padding:0;
    text-align: center;
    background-color:white;
}
h1{
    background-color: #081b31;
    color:#fff;
    height:5rem;
    line-height: 5rem;
}
.choice {
 height: 200px;
 width: 200px;
 
}
.choice:hover{
   opacity: 0.75;
cursor: pointer;
}


img{
    hwight: 160px;
    width: 160px;
    object-fit:cover;
    border-width: 0cqb;
    
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;

}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:3rem;
    gap: 9rem;


}
#user-score,#computer-score{
    font-size: 6rem;

}
.msg-contasiner{
    margin-top:5rem;

}
#msg{
   
    background-color:#081b31;
    color:#fff;
    font-size:2.25rem;
    display: inline-block;
    padding:0.5rem;
    border-radius:1.5rem;


}